<%= form_for @dish, url: dishes_path, method: :post do |f| %>


<div class="form">
	<%= f.label  :name %></br>
	<%= f.text_field :name %>
</div>


<div class="form">
	<%= f.label  :description %></br>
  <%= f.text_field :description %>
</div>


<div class="form">
  <%= f.submit "Create" %>
</div>
<% end %>

